//colors for the projects

$color-main: #001427;
$color-main-light-1 : #003b72;
$color-main-light-2 :#0056a7;

$color-secondary :#acb0bd;
$color-secondary-dark : #eeeff3;
$color-secondary-dark-1 :#818183;
$color-secondary-dark-2 : #4f4f59;
$color-secondary-dark-3 :#eae9d4;

$color-white : #f0f8f8;
$color-red : #bf0603;
$color-green: #1d7874;
$color-black:#000;
$color-black-1:#030101;

//fonts
$font-secondary :'Dancing Script', cursive ,'Open Sans', sans-serif;
$font-tertiary :'Satisfy', cursive;
$font-main :'Nunito Sans', sans-serif;
$font-main-2 :'Exo', sans-serif;

//font sizes
$size-main : 2rem;
$size-medium : 3rem;
$size-large: 4rem;

